<header class="site-header" role="banner">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <div class="brand-image-border">
      <a href="{{ "/" }}"><img class="brand-image" src="{{ '/assets/header-ico.png' | relative_url }}"/></a>
    </div>
    <div class="header-right-container">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <p class="header-quote">Ich bin der Kaiser und ich will Knödel!</p>
    </div>
  </div>
</header>

