@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.75;
$hr-line-height: 4px;
$spacing-unit: 30px;
$bg-mix-percent: 50%;

$text-color: #d1eff3;
$link-color: #4289e6;

$background-color: #131d25;
$background-color-light1: #1C2A36;
$background-color-light1half: #233443;
$background-color-light2: #2A3E50;
$background-color-light3: #31495E;

$accent-color: #BF1D50; // #32AD86;
$accent-color-light: #D52059; // #41C89D;
$accent-color-lighter: #DF2A63; //#51CDA5;
$accent-color-dark: #7C1334; // #1C5F4A;
$accent-color-bg-3: #530923;
$accent-color-bg-2: #41071C;
$accent-color-bg-1: #300514;
$accent-color-bg-0: #1F030D;

$h1-adj-hue: 0;
$h2-adj-hue: -30;
$h3-adj-hue: -60;
$h4-adj-hue: -90;
// skip over blue color because it looks like a link
$h5-adj-hue: -150;
$h6-adj-hue: -180;

$h4-lighten: 12.5;

$accent-h1: adjust-hue($accent-color, $h1-adj-hue);
$accent-h2: adjust-hue($accent-color, $h2-adj-hue);
$accent-h3: adjust-hue($accent-color, $h3-adj-hue);
$accent-h4: lighten(adjust-hue($accent-color, $h4-adj-hue), $h4-lighten);
$accent-h5: adjust-hue($accent-color, $h5-adj-hue);
$accent-h6: adjust-hue($accent-color, $h6-adj-hue);

$accent-h1-light: adjust-hue($accent-color-light, $h1-adj-hue);
$accent-h2-light: adjust-hue($accent-color-light, $h2-adj-hue);
$accent-h3-light: adjust-hue($accent-color-light, $h3-adj-hue);
$accent-h4-light: lighten(adjust-hue($accent-color-light, $h4-adj-hue), $h4-lighten);
$accent-h5-light: adjust-hue($accent-color-light, $h5-adj-hue);
$accent-h6-light: adjust-hue($accent-color-light, $h6-adj-hue);

$accent-h1-lighter: adjust-hue($accent-color-lighter, $h1-adj-hue);
$accent-h2-lighter: adjust-hue($accent-color-lighter, $h2-adj-hue);
$accent-h3-lighter: adjust-hue($accent-color-lighter, $h3-adj-hue);
$accent-h4-lighter: lighten(adjust-hue($accent-color-lighter, $h4-adj-hue), $h4-lighten);
$accent-h5-lighter: adjust-hue($accent-color-lighter, $h5-adj-hue);
$accent-h6-lighter: adjust-hue($accent-color-lighter, $h6-adj-hue);

$accent-h1-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h1-adj-hue), 50%);
$accent-h2-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h2-adj-hue), 50%);
$accent-h3-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h3-adj-hue), 50%);
$accent-h4-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h4-adj-hue), 50%);
$accent-h5-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h5-adj-hue), 50%);
$accent-h6-almost-fg: mix($text-color, adjust-hue($accent-color-lighter, $h6-adj-hue), 50%);

$accent-h1-dark: adjust-hue($accent-color-dark, $h1-adj-hue);
$accent-h2-dark: adjust-hue($accent-color-dark, $h2-adj-hue);
$accent-h3-dark: adjust-hue($accent-color-dark, $h3-adj-hue);
$accent-h4-dark: lighten(adjust-hue($accent-color-dark, $h4-adj-hue), $h4-lighten);
$accent-h5-dark: adjust-hue($accent-color-dark, $h5-adj-hue);
$accent-h6-dark: adjust-hue($accent-color-dark, $h6-adj-hue);

$accent-h1-bg-light: mix($background-color, adjust-hue($accent-color-bg-3, $h1-adj-hue), $bg-mix-percent / 5);
$accent-h2-bg-light: mix($background-color, adjust-hue($accent-color-bg-3, $h2-adj-hue), $bg-mix-percent / 5);
$accent-h3-bg-light: mix($background-color, adjust-hue($accent-color-bg-3, $h3-adj-hue), $bg-mix-percent / 5);
$accent-h4-bg-light: lighten(mix($background-color, adjust-hue($accent-color-bg-3, $h4-adj-hue), $bg-mix-percent / 5), $h4-lighten);
$accent-h5-bg-light: mix($background-color, adjust-hue($accent-color-bg-3, $h5-adj-hue), $bg-mix-percent / 5);
$accent-h6-bg-light: mix($background-color, adjust-hue($accent-color-bg-3, $h6-adj-hue), $bg-mix-percent / 5);

$accent-h1-bg-light-half: mix($background-color, adjust-hue($accent-color-bg-3, $h1-adj-hue), $bg-mix-percent / 2.5);
$accent-h2-bg-light-half: mix($background-color, adjust-hue($accent-color-bg-3, $h2-adj-hue), $bg-mix-percent / 2.5);
$accent-h3-bg-light-half: mix($background-color, adjust-hue($accent-color-bg-3, $h3-adj-hue), $bg-mix-percent / 2.5);
$accent-h4-bg-light-half: lighten(mix($background-color, adjust-hue($accent-color-bg-3, $h4-adj-hue), $bg-mix-percent / 2.5), $h4-lighten);
$accent-h5-bg-light-half: mix($background-color, adjust-hue($accent-color-bg-3, $h5-adj-hue), $bg-mix-percent / 2.5);
$accent-h6-bg-light-half: mix($background-color, adjust-hue($accent-color-bg-3, $h6-adj-hue), $bg-mix-percent / 2.5);

$accent-h1-bg-3: mix($background-color, adjust-hue($accent-color-bg-3, $h1-adj-hue), $bg-mix-percent);
$accent-h2-bg-3: mix($background-color, adjust-hue($accent-color-bg-3, $h2-adj-hue), $bg-mix-percent);
$accent-h3-bg-3: mix($background-color, adjust-hue($accent-color-bg-3, $h3-adj-hue), $bg-mix-percent);
$accent-h4-bg-3: lighten(mix($background-color, adjust-hue($accent-color-bg-3, $h4-adj-hue), $bg-mix-percent), $h4-lighten);
$accent-h5-bg-3: mix($background-color, adjust-hue($accent-color-bg-3, $h5-adj-hue), $bg-mix-percent);
$accent-h6-bg-3: mix($background-color, adjust-hue($accent-color-bg-3, $h6-adj-hue), $bg-mix-percent);

$accent-h1-bg-2: mix($background-color, adjust-hue($accent-color-bg-2, $h1-adj-hue), $bg-mix-percent);
$accent-h2-bg-2: mix($background-color, adjust-hue($accent-color-bg-2, $h2-adj-hue), $bg-mix-percent);
$accent-h3-bg-2: mix($background-color, adjust-hue($accent-color-bg-2, $h3-adj-hue), $bg-mix-percent);
$accent-h4-bg-2: lighten(mix($background-color, adjust-hue($accent-color-bg-2, $h4-adj-hue), $bg-mix-percent), $h4-lighten);
$accent-h5-bg-2: mix($background-color, adjust-hue($accent-color-bg-2, $h5-adj-hue), $bg-mix-percent);
$accent-h6-bg-2: mix($background-color, adjust-hue($accent-color-bg-2, $h6-adj-hue), $bg-mix-percent);

$accent-h1-bg-1: mix($background-color, adjust-hue($accent-color-bg-1, $h1-adj-hue), $bg-mix-percent);
$accent-h2-bg-1: mix($background-color, adjust-hue($accent-color-bg-1, $h2-adj-hue), $bg-mix-percent);
$accent-h3-bg-1: mix($background-color, adjust-hue($accent-color-bg-1, $h3-adj-hue), $bg-mix-percent);
$accent-h4-bg-1: lighten(mix($background-color, adjust-hue($accent-color-bg-1, $h4-adj-hue), $bg-mix-percent), $h4-lighten);
$accent-h5-bg-1: mix($background-color, adjust-hue($accent-color-bg-1, $h5-adj-hue), $bg-mix-percent);
$accent-h6-bg-1: mix($background-color, adjust-hue($accent-color-bg-1, $h6-adj-hue), $bg-mix-percent);

$accent-h1-bg-0: mix($background-color, adjust-hue($accent-color-bg-0, $h1-adj-hue), $bg-mix-percent);
$accent-h2-bg-0: mix($background-color, adjust-hue($accent-color-bg-0, $h2-adj-hue), $bg-mix-percent);
$accent-h3-bg-0: mix($background-color, adjust-hue($accent-color-bg-0, $h3-adj-hue), $bg-mix-percent);
$accent-h4-bg-0: lighten(mix($background-color, adjust-hue($accent-color-bg-0, $h4-adj-hue), $bg-mix-percent), $h4-lighten);
$accent-h5-bg-0: mix($background-color, adjust-hue($accent-color-bg-0, $h5-adj-hue), $bg-mix-percent);
$accent-h6-bg-0: mix($background-color, adjust-hue($accent-color-bg-0, $h6-adj-hue), $bg-mix-percent);

$comment-color: hsl(43, 10%, 40%);
$string-color: hsl(35, 50%, 50%);
$string-escape: hsl(50, 70%, 70%);
$literal-color: hsl(185, 70%, 50%);
$literal-hex-color: hsl(190, 70%, 50%);
$literal-oct-color: hsl(195, 70%, 50%);
$literal-float-color: hsl(278, 60%, 60%);
$operator-color: darken($text-color, 20%);
$keyword-color: hsl(18, 50%, 60%); // python def, return, class, pass
$builtin-color: hsl(9, 55%, 55%); // python builtin types (int, bool, etc)
$pseudo-bool-color: $builtin-color;
$class-color: hsl(100, 55%, 55%);
$function-color: hsl(60, 50%, 50%);
$error-color: hsl(22, 80%, 55%);
$undefined-color: hsl(300, 100%, 50%);

$table-text-align: left;

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin relative-font-size($ratio) {
    font-size: $base-font-size * $ratio;
}

// Import partials.
@import "base",
"layout"
;